<table style="width:100%">
  <tr>
    <td>
      <strong>Strategy Allocation</strong>
      <% if policy(Player.new).update? %>
        <small>
          <%= link_to "Add", increase_strategy_allocation_game_player_race_sheet_path(@game, player), method: :post %>
          <%= link_to "Remove", decrease_strategy_allocation_game_player_race_sheet_path(@game, player), method: :post %>
        </small>
      <% end %>
    </td>
    <td>
      <strong>Fleet Supply</strong>
      <% if policy(Player.new).update? %>
        <small>
          <%= link_to "Add", increase_fleet_supply_game_player_race_sheet_path(@game, player), method: :post %>
          <%= link_to "Remove", decrease_fleet_supply_game_player_race_sheet_path(@game, player), method: :post %>
        </small>
      <% end %>
    </td>
    <td>
      <strong>Command Pool</strong>
      <% if policy(Player.new).update? %>
        <strong>
          <%= link_to "Add", increase_command_pool_game_player_race_sheet_path(@game, player), method: :post %>
          <%= link_to "Remove", decrease_command_pool_game_player_race_sheet_path(@game, player), method: :post %>
        </strong>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <%= race_sheet.strategy_allocation %>
    </td>
    <td>
      <%= race_sheet.fleet_supply %>
    </td>
    <td>
      <%= race_sheet.command_pool %>
    </td>
  </tr>
</table>
