<h1>
  <%= @game.name %>
  <% if @game.started? %>
    <small>Game in progress</small>
  <% else %>
    <%= link_to "Start Game", '#', class: 'btn btn-success' %>
  <% end %>
  <br><small><%= @game.players.count %> playing out of <%= @game.max_players %> possible players <%= link_to "Add Player", new_game_player_path(@game), class: 'btn btn-sm btn-default' %></small></h1>
<div>

</div>
<div class="container">
  <%= link_to "Game Deck", [@game, @game.deck], class: 'btn btn-danger' %>
</div>


<% @game.players.each do |player| %>
  <%= link_to player.user.name, [@game, player] %>
<% end %>