<h1>
  <%= @game.name %>
  <% if @game.started? %>
    <small>Game in progress</small>
  <% elsif policy(@game).new_game? %>
    new_game
    <%= link_to "Start Game", '#', class: 'btn btn-success' %>
  <% end %>
  <br><small><%= @game.players.count %> playing out of <%= @game.max_players %> possible players
   <% if policy(@game).new_game? %><%= link_to "Add Player", new_game_player_path(@game), class: 'btn btn-sm btn-default' %></small></h1><% end %>
<div>

</div>
<div class="container">
  <%= link_to "Game Deck", [@game, @game.deck], class: 'btn btn-danger' %>
</div>

<br>
<div class="container">
  <% @game.players.each do |player| %>
    <p><strong></strong><%= link_to player.user.name, [@game, player] %></strong></p>
  <% end %>
</div>