<h1>
  <%= @game.name %>
  <% if @game.started? %>
    <small>Game in progress</small>
  <% elsif policy(@game).new_game? %>
    new_game
    <%= link_to "Start Game", '#', class: 'btn btn-success' %>
  <% end %>
  <br><small><%= @game.players.count %> playing out of <%= @game.max_players %> possible players</small>
   <% if policy(@game).new_game? %>
    <%= link_to "Add Player", new_game_player_path(@game), class: 'btn btn-default' %>
  <% end %>
  <% if policy(@game).new_game? %>
    <%= link_to "Game Deck", [@game, @game.deck], class: 'btn btn-danger' %>
  <% end %>
  <%= link_to "Discard Deck", game_deck_discards_path(@game, @game.deck), class: 'btn btn-default'%>
</h1>
<div class="container">
  <div class="col-md-7">
    <h2>Players</h2>
    <% @game.players.order(:seating_order).each do |player| %>
      <p>
        <h3>
          <%= link_to player.user.name, [@game, player] %> - <%= player.victory_points %> VP<br>
          <small><%= pluralize(player.cards.count, "action cards") %></small>
        </h3>
        <%= render partial: "race_sheets/race_sheet", locals: { race_sheet: player.race_sheet, player: player } %>
      </p><br>
    <% end %>
  </div>
  <div class="col-md-5">
   <h2>
     Public Objectives
     <% if policy(@game).new_game? %>

       <div class="container">
         <%= simple_form_for :game, url: :reveal_objective_game, :method => :post, game_id: @game.id do |f| %>
         <%= f.submit "Send objective cards to: ", class: 'btn btn-sm btn-default' %>
         <%= f.collection_select :players, @players, :id, :name, include_blank: false %>
         <% end %>
       </div>

     <% end %>
   </h2>

   <% @game.public_objective_deck.revealed_objectives.each do |objective| %>
     <%= render partial: "objective_cards/revealed_objective", locals: { objective: objective } %>
   <% end %>
  </div>
</div>
