<h1>
  <%= @game.name %>
  <% if @game.started? %>
    <small>Game in progress</small>
  <% elsif policy(@game).new_game? %>
    new_game
    <%= link_to "Start Game", '#', class: 'btn btn-success' %>
  <% end %>
  <br><small><%= @game.players.count %> playing out of <%= @game.max_players %> possible players
   <% if policy(@game).new_game? %>
    <%= link_to "Add Player", new_game_player_path(@game), class: 'btn btn-sm btn-default' %></small></h1>
  <% end %>
  <% if policy(@game).new_game? %>
    <%= link_to "Game Deck", [@game, @game.deck], class: 'btn btn-danger' %>
  <% end %>
<div class="container">
  <div class="col-md-6">
    <h2>Players</h2>
    <% @game.players.each do |player| %>
      <p>
        <strong></strong><%= link_to player.user.name, [@game, player] %></strong>
        <%= pluralize(player.cards.count, "action cards") %>
      </p>
    <% end %>
  </div>
  <div class="col-md-6">
   <h2>
     Public Objectives
     <% if policy(@game).new_game? %>

       <div class="container">
         <%= simple_form_for :game, url: :reveal_objective_game, :method => :post, game_id: @game.id do |f| %>
         <%= f.submit "Send objective cards to: ", class: 'btn btn-sm btn-default' %>
         <%= f.collection_select :players, @players, :id, :name, include_blank: false %>
         <% end %>
       </div>

     <% end %>
   </h2>

   <% @game.public_objective_deck.revealed_objectives.each do |objective| %>
     <div>
       Stage <%= objective.stage %><br>
       <%= pluralize(objective.value, "Victory Point") %><br>
       <%= objective.text %><br><br>
     </div>
   <% end %>
  </div>
</div>
