<h1>
  <%= @game.name %>
  <% if @game.started? %>
    <small>Game in progress</small>
  <% elsif policy(@game).new_game? %>
    new_game
    <%= link_to "Start Game", '#', class: 'btn btn-success' %>
  <% end %>
  <br><small><%= @game.players.count %> playing out of <%= @game.max_players %> possible players
   <% if policy(@game).new_game? %><%= link_to "Add Player", new_game_player_path(@game), class: 'btn btn-sm btn-default' %></small></h1><% end %>
  <%= link_to "Game Deck", [@game, @game.deck], class: 'btn btn-danger' %>
<div class="container">
  <div class="col-md-6">
    <h2>Players</h2>
    <% @game.players.each do |player| %>
      <p><strong></strong><%= link_to player.user.name, [@game, player] %></strong></p>
    <% end %>
  </div>
  <div class="col-md-6">
   <h2>
     Public Objectives
     <% if policy(@game).new_game? %>
       <%= link_to "Reveal Objective", game_reveal_objective_path(@game), method: :post, class: 'btn btn-sm btn-default' %>
     <% end %>
   </h2>
   
   <% @game.public_objective_deck.revealed_objectives.each do |objective| %>
     <div>
       <small>
         Stage <%= objective.stage %> Objective<br>
         <%= objective.text %><br>
         Victory Points: <%= objective.value %>
       </small><br><br>
     </div>
   <% end %>
  </div>
</div>
